* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.game-board {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.game-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}
  
.grid {
    height: 700px;
    width: 700px;
}
  
.grid div {
    border: 1px solid lightgrey;
    display: inline-block;
}

.game-state {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    gap: 100px;
}

.red {
    color: red;
}

.yellow {
    color: yellow;
}

.score-board {
    border: 1px solid black;
}